@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-tercearia: #22d4fd;;
    --cor-hover: #272727;

    --fonte-primaria: 'krona one', sans-serif;
    --fonte-secundaria: 'montserrat', sans-serif; 
}

* {
    margin: 0;
    padding: 0;
}



body {
    
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
 
}

.cabecalho {
   
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2% 22%;
   
    
}

.cabecalho__menu {
 display: flex;   
 gap: 80px;

}

.cabecalho__menu__link {

    color:var(--cor-tercearia);
    text-decoration: none;    
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;

}

.apresentacao {
    margin: 0 auto;
    padding:  3% 05%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
}



.legenda-destaque {
    color: var(--cor-secundaria);
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family:var(--fonte-primaria) ;
}

.titulo-destaque { 
    color: var(--cor-tercearia);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family:var(--fonte-secundaria);
    
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    
    width: 70%;
    padding: 21.5px 0pc; 
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-tercearia);
}

.apresentacao__links__links:hover {

    background-color: var(--cor-hover);
    color: var(--cor-tercearia);
    transition: 0.3s;
    

}

.foto__kjartan {
    width: 50%;
    height: 50%;
    border-radius: 8px;
   
    
}

.agrupamento {
    display: flex;
    gap: 40px;
    margin: 0;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.rodape { 
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    padding: 24px;
    display: flex;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;


}

.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    gap: 30px;
    font-family: var(--fonte-secundaria);

}

.foto ul {
    text-align: left;   
    width: 100%;        
    max-width: 380px;   
    padding-left: 20px; 
    line-height: 1.8;
}  

@media (max-width: 1200px) {

.apresentacao {
    flex-direction: column-reverse;
    gap: 40px;
}}

.cabecalho {
   
    padding: 5% 27%; }

    .cabecalho__menu {
        justify-content:flex-start;
        gap: 40px;
    }

.apresentacao {
    padding: 05%;
}

.apresentacao__conteudo {
    width: auto;
   
}